<main class="flex-1 flex flex-row items-start gap-2.5 pt-[420px] px-2.5 pb-10 bg-[url(/section.png)] bg-no-repeat bg-position-[center_top]">
  <aside class="w-1/4 bg-gray-100 border border-gray-200 rounded-md p-4">
    <form>
      <fieldset class="flex flex-col gap-3 mb-6">
        <legend class="font-bold mb-3">Product Type</legend>
        <app-checkbox name="product-type" value="chillies" label="Whole Chillies" />
        <app-checkbox name="product-type" value="spices" label="Ground Spices" />
        <app-checkbox name="product-type" value="sauces" label="Scorching Sauces" />
        <app-checkbox name="product-type" value="blends" label="Sadistic Blends" />
        <app-checkbox name="product-type" value="extracts" label="Infernal Extracts" />
      </fieldset>
      <fieldset class="flex flex-col gap-3">
        <legend class="font-bold mb-3">Agony Level</legend>
        @for (heatLevel of heatLevelFilterName; track heatLevel[0]) {
          <app-checkbox name="agony-level" [value]="heatLevel[0]" [label]="heatLevel[1]" (change)="onHeatLevelChange($event)" />
        }
      </fieldset>
    </form>
  </aside>
  <section class="w-3/4">
    <form class="flex flex-row justify-between mb-4">
      <input type="text" placeholder="Find your pain" class="bg-gray-100 bg-[url('/icons/search.svg')] bg-no-repeat bg-position-[calc(100%-12px-16px/2)_50%] border border-gray-200 rounded-full px-4 pr-[calc(12px+16px/2+16px)] py-1 appearance-none" />

      <div class="flex gap-2 items-center align-center">
        @for (direction of sortDirectionName; track direction[0]) {
          <input type="radio" hidden [id]="direction[0]" name="sort" [value]="direction[0]" [checked]="catalog.sortDirection() === direction[0]" (change)="onSortDirectionChange($event)" />
          <label class="control-radio rounded-md px-2 py-1" [for]="direction[0]">{{ direction[1] }}</label>
        }
      </div>
    </form>
    <section class="flex flex-wrap gap-2">
      @for (item of catalog.filteredData(); track item.id) {
        <a href="#">
          <article class="bg-gray-100 border border-gray-200 rounded-md p-4 hover:border-gray-300">
            <img class="mb-4" [src]="item.image" width="272" height="247" [alt]="item.name" />
            <h2 class="mb-2">{{item.name}}</h2>
            <p class="mb-2 font-600">{{item.price.value | currency:item.price.currency}}</p>
            <p class="text-sm text-gray-500">{{ item.description }}</p>
          </article>
        </a>
      }
    </section>
  </section>
</main>
