<header class="flex flex-row flex-wrap items-center gap-10 px-5 py-4">
  <a routerLink="/">
    <h1 class="flex flex-row items-center gap-2">
      <img src="/logo.svg" alt="The Scoville Inferno" width="65" height="45" />
      <span class="text-2xl font-bold">The Scoville Inferno</span>
    </h1>
  </a>
  <ul class="flex flex-1 flex-row justify-end gap-5" aria-role="navigation">
    <li><a routerLink="/" routerLinkActive="font-bold" [routerLinkActiveOptions]="{ exact: true }">Products</a></li>
    <li><a href="#">Pain Guides</a></li>
    <li><a href="#">Community</a></li>
    <li><a href="#">Resources</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
  <ul class="flex flex-row flex-wrap items-center gap-3" aria-role="navigation">
    <li><a href="/" class="bg-gray-200 border border-gray-700 rounded-md px-3 py-1 text-nowrap">Sign In</a></li>
    <li><a href="/" class="bg-black border border-black text-white rounded-md px-3 py-1 text-nowrap">Register</a></li>
  </ul>
</header>
